*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'GAME', sans-serif; 
    background-image: linear-gradient(to right, green, rgb(156, 5, 156));
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start{
    margin: 20px 0 10px 0;
    padding: 10px;
    font-size: large;
    border: none;
    border-radius: 10px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.start:hover{
    transform: scale(1.1);
}

.logic{
    padding: 10px;
    font-size: large;
    border: none;
    border-radius: 10px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.logic:hover{
    transform: scale(1.1);
}

.overlay{
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.6;
}

.modal{
    position: relative;
    background-color: whitesmoke;
    height: 500px;
    width: 400px;
    margin: 50px auto 0 auto;
    /* box-shadow:  8px 8px 10px 0 rgba(5, 5, 5, 0.6); */
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 1) 3px 5px 15px;
}

.hidden{
    display: none;
}

.modal p {
    color: black;
    text-align: justify;
    padding: 30px 20px 0 20px;
    font-weight: bold;
}

.close{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.closeBtn{
    margin-right: 10px;
    padding: 10px;
    border: none;
    font-size: 16px;
    border-radius: 15px;
    transition-property: all;
    transition-duration: 0.5s;
}

.closeBtn:hover{
    background-color: red;
    color: white;
    transform: scale(1.2);
}



@media screen and (max-width: 420px){
    .modal{
        min-height: 500px;
        width: 100%;
        margin: 50px auto 0 auto;
        /* box-shadow:  8px 8px 10px 0 rgba(5, 5, 5, 0.6); */
    }
}