*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'GAME', sans-serif; 
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start{
    margin: 20px 0 10px 0;
    padding: 10px;
    font-size: large;
    border: none;
    border-radius: 10px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.start:hover{
    transform: scale(1.1);
}

.logic{
    padding: 10px;
    font-size: large;
    border: none;
    border-radius: 10px;
    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}

.logic:hover{
    transform: scale(1.1);
}

.modal{
    background-color: black;
    height: 500px;
    width: 400px;
    margin: 20px auto 0 auto;
}

.hidden{
    display: none;
}

.modal p {
    color: white;
    text-align: justify;
    padding: 30px 20px 0 20px;
}

.close{
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.closeBtn{
    margin-right: 10px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    transition-property: all;
    transition-duration: 0.5s;
}

.closeBtn:hover{
    background-color: red;
    color: white;
    transform: scale(1.2);
}



